#ignore all files
*
!*/

bin/
obj/
packages/

#except the following files
!.gitignore
!LICENSE

!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.build

!*.go
!*.lua

!*.cs
!*.csproj
!*.resx
!*.json

!*.hlsl
!*.fragment

!*.md

!*.ini
!*.bat

#except the following folders
