#ignore all files
*
!*/

bin/
obj/
packages/

#except the following files
!.gitignore
!LICENSE

!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.sln
!*.csproj
!Directory.Build.props

!*.go
!*.lua

!*.cs
!*.resx
!*.json

!*.sh
!*.bat

!*.md

!*.ini
!*.bat

#except the following folders
